<main class="homepage-background">
	<div class="homepage-searchbar">
		<input type="text" id="homepage-searchbar-input" placeholder="Search by ingredient...">
		<button type="button" id="search-button-home"><i class="fas fa-search"></i></p>
	</div>
</main>
</header>
